*{
    margin: 0px;
    padding: 0px;
}
.main-div{
    font-family: 'Roboto', sans-serif;
    padding: 15px;

}
.main-header{
    color: orange;
}
#secondery-header{
    color: yellow;
}
p .span-color{
    color:brown;
}
#about-me p{
    border: 2px solid greenyellow;
    width: 160px;
    height: 80px;
    margin-left: 215px;
    margin-top: 10px;

}
.links-of-social-networks{
    border: 2px solid black;
    width: 160px;
    margin-top: 10px;
}
.profileImage {
    float: left;
    margin-right: 15px;
}
.links-of-social-networks {
    float: left;
}
li {
    list-style: none;
}

.about-me {
    float: left;
}