.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.time input {
  font-size: 1.2rem;
  color: blue;
  width: 120px;
}